# MyAnimeList username.
MAL_USERNAME=<MyAnimeList username>
# MyAnimeList password.
MAL_PASSWORD=<MyAnimeList password>
# Run Chrome without sandbox.
SELENIUM_NO_SANDBOX=true
# Disable Chrome shared memory space.
SELENIUM_DISABLE_DEV_SHM_USAGE=true
# Disable Chrome extensions.
SELENIUM_DISABLE_EXTENSIONS=true
# Disable Graphics Processing Unit with Chrome.
SELENIUM_DISABLE_GPU=true
# Turn on|off Selenium debuging.
# When true, run Chrome with head and do not close on error.
SELENIUM_DEBUG=false